---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const { name, position, office, phone, email } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="grid">
	<header>
		<h2 class="font-kanit text-xl font-semibold text-slate-800 lg:text-2xl">
			{name}
		</h2>
		<p class="inline bg-primary px-2 font-kanit text-sm text-slate-800 md:text-base">
			{position}
		</p>
	</header>

	<section class="mt-2.5 grid gap-y-1">
		<div class="flex items-baseline">
			<p class="w-16 font-kanit text-sm text-slate-700">{t("administration.office")}</p>
			<p class="font-kanit text-slate-800">{office}</p>
		</div>
		<div class="flex items-baseline">
			<p class="w-16 font-kanit text-sm text-slate-700">{t("administration.phone")}</p>
			<p class="font-kanit text-slate-800">{phone}</p>
		</div>

		<div class="flex items-baseline">
			<p class="w-16 font-kanit text-sm text-slate-700">{t("administration.email")}</p>
			<p class="font-kanit text-slate-800">{email}</p>
		</div>
	</section>
</div>
