---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const { name, position, office, phone, email } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="grid bg-yellow-400 p-5">
    <header>
        <h2 class="text-2xl lg:text-4xl font-semibold font-kanit text-slate-800 mb-1">
            {name}
        </h2>
        <p class="bg-slate-800 px-2 w-fit font-medium font-kanit text-white">
            {position}
        </p>
    </header>

    <section class="grid gap-y-1 mt-2.5">
        <div class="flex items-baseline">
            <p class="text-slate-700 font-kanit text-sm w-16">{t("administration.office")}</p>
            <p class="text-slate-800 font-kanit">{office}</p>
        </div>
        <div class="flex items-baseline">
            <p class="text-slate-700 font-kanit text-sm w-16">{t("administration.phone")}</p>
            <p class="text-slate-800 font-kanit">{phone}</p>
        </div>

        <div class="flex items-baseline">
            <p class="text-slate-700 font-kanit text-sm w-16">{t("administration.email")}</p>
            <p class="text-slate-800 font-kanit">{email}</p>
        </div>
    </section>
</div>
