---
export const prerender = false;

import { getPost, getPosts } from "@/libs/api/post";
import BaseLayout from "../../layouts/BaseLayout.astro";
const { slug } = Astro.params;

const post = await getPost(slug);
const { date_gmt, title, _embedded } = post;

const date = new Date(date_gmt).toLocaleDateString("en-US", {
    year: "numeric",
    month: "long",
    day: "numeric",
});

export async function getStaticPaths() {
    const posts = await getPosts();

    const transformedPosts = posts.map((post) => {
        return {
            params: {
                slug: post.slug,
            },
        };
    });

    return transformedPosts
}


---

<BaseLayout title={title.rendered}>
    <div>
        <header
            class="max-w-7xl px-5 mx-auto py-10 flex justify-center items-center flex-col space-y-3 border-b-yellow-500 border-b-2"
        >
            <div
                class="text-sm text-gray-700 bg-yellow-300 rounded-full px-2 py-0.5 w-fit"
            >
                {_embedded["wp:term"][0][0].name}
            </div>
            <h1
                transition:name={slug}
                class="text-3xl font-kanit font-medium text-center"
            >
                {post.title.rendered}
            </h1>
            <time class="text-gray-500 text-center font-kanit" datetime={date_gmt}
            >{date}</time
            >
        </header>
        <article class="max-w-7xl px-5 mx-auto pb-20 mt-5">
            <Fragment set:html={post.content.rendered} />
        </article>
    </div>
</BaseLayout>
