---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import Layout from "@/layouts/BaseLayout.astro";
import { FacultyAPI } from "@/libs/api/faculty";
import { MediaAPI } from "@/libs/api/media";
import { DocumentTextIcon, GlobeAltIcon } from "@heroicons/react/24/outline";

const facultyAPI = new FacultyAPI();
const mediaAPI = new MediaAPI();
const { slug } = Astro.params;
const faculty = await facultyAPI.getFaculty(slug);

if (!faculty) throw new Error("Fetching Error");

const imgURL = await mediaAPI.getMediaURL(faculty.picture);

export async function getStaticPaths() {
	const facultyAPI = new FacultyAPI();
	const slugs = await facultyAPI.getAllFacultySlugs();

	return slugs.map((slug) => {
		return {
			params: { slug: slug },
		};
	});
}

const academicRender = () => {
	switch (faculty.academic_rank) {
		case "professor":
			return "Professor";
		case "associate":
			return "Associate Professor";
		case "assistant":
			return "Assistant Professor";
		default:
			return "";
	}
};

export const prerender = false;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={faculty.first_name_thai + " " + faculty.last_name_thai + " | " + t("department.name")}>
	<main class="mx-auto max-w-screen-xl md:px-5">
		<article class="md:grid md:grid-cols-[500px_1fr] md:gap-x-10 md:py-10">
			<header class="h-fit bg-yellow-500 p-5">
				<figure>
					<img
						src={imgURL ? imgURL : "https://via.placeholder.com/640x640.png?text=No+Image+Available"}
						class="h-auto w-full object-cover object-center"
						alt=""
					/>
				</figure>

				<section class="mt-5 md:hidden">
					<h1 class="font-kanit text-2xl font-medium text-gray-900">
						{faculty.first_name_thai}
						{faculty.last_name_thai}
					</h1>
					<h3 class="font-kanit text-gray-900">{academicRender()}</h3>
				</section>

				<section class="mt-5 md:block">
					<h2 class="sr-only text-gray-900">{t("people.contact")}</h2>
					<div class="mt-2 grid grid-cols-[max-content_1fr] gap-x-5 gap-y-1">
						{
							faculty.office && (
								<>
									<p class="font-kanit font-medium text-gray-900 md:text-xl">{t("people.office")}:</p>
									<p class="font-kanit font-light text-gray-900 md:text-xl">{faculty.office}</p>
								</>
							)
						}
						{
							faculty.phone && (
								<>
									<p class="font-kanit font-medium text-gray-900 md:text-xl">{t("people.phone")}:</p>
									<p class="font-kanit font-light text-gray-900 md:text-xl">{faculty.phone}</p>
								</>
							)
						}
						{
							faculty.email && (
								<>
									<p class="font-kanit font-medium text-gray-900 md:text-xl">{t("people.email")}:</p>
									<p class="font-kanit font-light text-gray-900 md:text-xl">{faculty.email}</p>
								</>
							)
						}
					</div>
				</section>

				{
					(faculty.website != "" || faculty.cv) && (
						<section class="mt-5 grid gap-y-2.5">
							{faculty.website != "" && (
								<a
									class="inline-flex items-center bg-gray-900 p-2.5 text-white"
									href={faculty.website}
									target="_blank"
								>
									<GlobeAltIcon className="w-5 h-5 mr-2" />
									<p class="font-kanit font-light">{t("people.website")}</p>
								</a>
							)}

							{faculty.cv && (
								<a
									class="inline-flex items-center bg-gray-900 p-2.5 text-white"
									href={faculty.cv}
									target="_blank"
								>
									<DocumentTextIcon className="w-5 h-5 mr-2" />
									<p class="font-kanit font-light">{t("people.cv")}</p>
								</a>
							)}
						</section>
					)
				}
			</header>

			<main class="flex flex-col p-5">
				<section class="hidden md:block">
					<h1 class="font-kanit text-5xl font-semibold text-gray-900">
						{faculty.first_name_thai}
						{faculty.last_name_thai}
					</h1>
					<h3 class="font-kanit text-xl text-gray-900">
						{academicRender()}
					</h3>
				</section>

				{
					faculty.biography && (
						<section class="md:mt-5">
							<h2 class="font-kanit text-2xl font-medium text-yellow-600">{t("people.biography")}</h2>
							<p class="font-kanit font-light" set:html={faculty.biography} />
						</section>
					)
				}

				{
					faculty.research && (
						<section class="md:mt-5">
							<h2 class="font-kanit text-2xl font-medium text-yellow-600">{t("people.research_area")}</h2>
							<ul class="mt-2 list-inside list-disc marker:text-yellow-600">
								{faculty.research.map((area) => (
									<li class="font-kanit text-gray-500" set:html={area.title} />
								))}
							</ul>
						</section>
					)
				}

				{
					(faculty.name_bsdegree || faculty.name_msdegree || faculty.name_phddegree) && (
						<section class="mt-5">
							<h2 class="font-kanit text-2xl font-medium text-yellow-600">{t("people.education")}</h2>
							<ul class="mt-2 font-kanit">
								<li class="font-kanit text-gray-500">
									{faculty.year_bsdegree && (<span class="font-bold text-gray-900">{faculty.year_bsdegree}</span>)}
									{faculty.name_bsdegree && (<span class="text-gray-500">{faculty.name_bsdegree}</span>)}
									{faculty.major_bsdegree && (<span class="text-gray-500">({faculty.major_bsdegree})</span>)}
									{faculty.university_bsdegree && (<span class="text-gray-500">{faculty.university_bsdegree}</span>)}
								</li>
								<li class="font-kanit text-gray-500">
									{faculty.year_msdegree && (<span class="font-bold text-gray-900">{faculty.year_msdegree}</span>)}
									{faculty.name_msdegree && (<span class="text-gray-500">{faculty.name_msdegree}</span>)}
									{faculty.major_msdegree && (<span class="text-gray-500">({faculty.major_msdegree})</span>)}
									{faculty.university_msdegree && (<span class="text-gray-500">{faculty.university_msdegree}</span>)}
								</li>
								<li class="font-kanit text-gray-500">
									{faculty.year2_msdegree && (<span class="font-bold text-gray-900">{faculty.year2_msdegree}</span>)}
									{faculty.name2_msdegree && (<span class="text-gray-500">{faculty.name2_msdegree}</span>)}
									{faculty.major2_msdegree && (<span class="text-gray-500">({faculty.major2_msdegree})</span>)}
									{faculty.university2_msdegree && (<span class="text-gray-500">{faculty.university2_msdegree}</span>)}
								</li>
								<li class="font-kanit text-gray-500">
									{faculty.year_phddegree && (<span class="font-bold text-gray-900">{faculty.year_phddegree}</span>)}
									{faculty.name_phddegree && (<span class="text-gray-500">{faculty.name_phddegree}</span>)}
									{faculty.major_phddegree && (<span class="text-gray-500">({faculty.major_phddegree})</span>)}
									{faculty.university_phddegree && (<span class="text-gray-500">{faculty.university_phddegree}</span>)}
								</li>
							</ul>
						</section>
					)
				}
				{
					faculty.publications && (
						<section class="md:mt-5">
							<h2 class="font-kanit text-2xl font-medium text-yellow-600">{t("people.publications")}</h2>
							<p class="font-kanit font-light" set:html={faculty.publications} />
						</section>
					)
				}
				{
					faculty.scopus_feed_script_url && (
						<section class="mt-5">
							<div class="mt-2">
								<a
									href={faculty.scopus_feed_script_url}
									target="_blank"
									rel="noopener noreferrer"
									class="bg-yellow-500 px-5 py-2.5"
								>
									Scopus &reg;
								</a>
							</div>
						</section>
					)
				}
			</main>
		</article>
	</main>
</Layout>
